In [5]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [7]:
df=pd.read_csv(r'C:\Users\hrish\Downloads\bank-nifty-1h-data.csv')

In [8]:
df.tail()

      Instrument        Date      Time      Open      High       Low     Close
15946  Banknifty  04-04-2024  11:15:00  47928.75  47943.05  47804.90  47849.70
15947  Banknifty  04-04-2024  12:15:00  47849.70  48053.95  47842.55  48016.90
15948  Banknifty  04-04-2024  13:15:00  48009.20  48145.70  47896.15  47992.75
15949  Banknifty  04-04-2024  14:15:00  47990.45  48125.60  47975.55  48051.00
15950  Banknifty  04-04-2024  15:15:00  48053.10  48139.90  48039.25  48126.20

In [11]:
df.drop('Instrument',axis=1,inplace=True)

In [12]:
df.drop('Date',axis=1,inplace=True)

In [14]:
df.columns

Index(['Time', 'Open', 'High', 'Low', 'Close'], dtype='object')

In [15]:
df.drop('Time',axis=1,inplace=True)

In [16]:
df

           Open      High       Low     Close
0      18845.90  18864.00  18758.50  18781.15
1      18781.15  18807.10  18745.60  18779.35
2      18779.35  18783.70  18570.85  18616.35
3      18616.35  18653.30  18517.25  18565.95
4      18569.40  18606.10  18479.65  18514.15
...         ...       ...       ...       ...
15946  47928.75  47943.05  47804.90  47849.70
15947  47849.70  48053.95  47842.55  48016.90
15948  48009.20  48145.70  47896.15  47992.75
15949  47990.45  48125.60  47975.55  48051.00
15950  48053.10  48139.90  48039.25  48126.20

[15951 rows x 4 columns]

In [18]:
X = df[['Open','High', 'Low']]
y = df['Close']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [3]:
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor

In [4]:
models = {
    "Linear Regression": LinearRegression(),
    "Random Forest": RandomForestRegressor(),
    "Support Vector Regression": SVR(),
    "decisiontree ":DecisionTreeRegressor()
}

In [20]:
results = {}

# Train each model and evaluate
for name, model in models.items():
    # Fit the model
    model.fit(X_train, y_train)
    
    # Make predictions
    y_pred = model.predict(X_test)
    
    # Calculate the mean squared error and RÂ² score
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    # Store the results
    results[name] = {"MSE": mse, "RÂ² Score": r2}

# Display the results
for name, metrics in results.items():
    print(f"{name}: Mean Squared Error = {metrics['MSE']:.2f}, RÂ² Score = {metrics['RÂ² Score']:.2f}")

Linear Regression: Mean Squared Error = 2633.34, RÂ² Score = 1.00
Random Forest: Mean Squared Error = 3746.06, RÂ² Score = 1.00
Support Vector Regression: Mean Squared Error = 40321793.66, RÂ² Score = 0.52
decisiontree : Mean Squared Error = 6685.67, RÂ² Score = 1.00

In [22]:
from joblib import dump, load

In [23]:
model = LinearRegression()
model.fit(X_train, y_train)
dump(model, 'banknifty.joblib')
# Calculate the mean squared error and RÂ² score
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
r2

0.9999689419199679