In [1]:
import pandas as pd 
import warnings  
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv(r'C:\Users\hrish\Downloads\NIFTY 50-26-02-2024-to-26-02-2025.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
0,26-FEB-2024,22169.2,22202.15,22075.15,22122.05,207775504,20850.26
1,27-FEB-2024,22090.2,22218.25,22085.65,22198.35,252199186,24620.71
2,28-FEB-2024,22214.1,22229.15,21915.85,21951.15,202952371,20579.80
3,29-FEB-2024,21935.2,22060.55,21860.65,21982.80,360165824,40196.12
4,01-MAR-2024,22048.3,22353.30,22047.75,22338.75,351503075,29646.47

In [4]:
df.columns

Index(['Date ', 'Open ', 'High ', 'Low ', 'Close ', 'Shares Traded ',
       'Turnover (₹ Cr)'],
      dtype='object')

In [5]:
df.drop('Date ', axis=1, inplace=True)

In [6]:
df.head()

     Open      High       Low     Close   Shares Traded   Turnover (₹ Cr)
0  22169.2  22202.15  22075.15  22122.05       207775504         20850.26
1  22090.2  22218.25  22085.65  22198.35       252199186         24620.71
2  22214.1  22229.15  21915.85  21951.15       202952371         20579.80
3  21935.2  22060.55  21860.65  21982.80       360165824         40196.12
4  22048.3  22353.30  22047.75  22338.75       351503075         29646.47

In [7]:
df.drop('Shares Traded ',axis=1,inplace=True)

In [8]:
df.drop('Turnover (₹ Cr)',axis=1,inplace=True)

In [9]:
df

        Open      High       Low     Close
0    22169.20  22202.15  22075.15  22122.05
1    22090.20  22218.25  22085.65  22198.35
2    22214.10  22229.15  21915.85  21951.15
3    21935.20  22060.55  21860.65  21982.80
4    22048.30  22353.30  22047.75  22338.75
..        ...       ...       ...       ...
246  22847.25  23049.95  22814.85  22932.90
247  22821.10  22923.85  22812.75  22913.15
248  22857.20  22921.00  22720.30  22795.90
249  22609.35  22668.05  22518.80  22553.35
250  22516.45  22625.30  22513.90  22547.55

[251 rows x 4 columns]

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [11]:
X = df[['Open ','High ', 'Low ']]
y = df['Close ']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
models = {
    "Linear Regression": LinearRegression(),
    "Random Forest": RandomForestRegressor(),
    "Support Vector Regression": SVR()
}

In [14]:
from sklearn.metrics import r2_score

In [15]:
results = {}

# Train each model and evaluate
for name, model in models.items():
    # Fit the model
    model.fit(X_train, y_train)
    
    # Make predictions
    y_pred = model.predict(X_test)
    
    # Calculate the mean squared error and R² score
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    # Store the results
    results[name] = {"MSE": mse, "R² Score": r2}

# Display the results
for name, metrics in results.items():
    print(f"{name}: Mean Squared Error = {metrics['MSE']:.2f}, R² Score = {metrics['R² Score']:.2f}")

Linear Regression: Mean Squared Error = 4820.48, R² Score = 1.00
Random Forest: Mean Squared Error = 10940.85, R² Score = 0.99
Support Vector Regression: Mean Squared Error = 961810.45, R² Score = 0.07

In [16]:
df.columns

Index(['Open ', 'High ', 'Low ', 'Close '], dtype='object')

In [17]:
X=df[['Open ','High ', 'Low ' ]]
y=df['Close ' ]

In [18]:
from joblib import dump, load

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)
dump(model, 'line_1111.joblib')
# Calculate the mean squared error and R² score
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
r2

0.995315992570037

In [20]:
def predict_close(open_value, high_value, low_value):
    """Predict Close price based on Open, High, and Low prices."""
    # Convert the input values into a DataFrame
    input_array = pd.DataFrame([[open_value, high_value, low_value]], columns=['Open ', 'High ', 'Low '])
    # Predict the Close price using the trained model
    predicted_close = model.predict(input_array)
    
    return predicted_close[0]

In [21]:
open_price = 22568.95
high_price = 22613
low_price = 22535.05
predicted_close = predict_close(open_price, high_price, low_price)
print(f"The predicted Close price is: {predicted_close}")

The predicted Close price is: 22572.400683926528